---
layout: default
robots: noindex
---

<div class="main-post-list">

  <ol class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.excerpt | strip_html }}&hellip;</p>
        <div class="post-list__meta">
            <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time>
            {% if post.tags.size > 0 %}
            &#8226; <span class="post-meta__tags">on {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</span>
            {% endif %}
        </div>
        <hr class="post-list__divider">
      </li>
    {% endfor %}
  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
<div class="about-me">
  <div class="post-title">
    <h1 align="center" valign="center" style="font-weight: bold">About me</h1>
  </div>
  <div style="margin-left: 44%;overflow: hidden;">
    <ul class="navigation">
        <li class="navigation__item"><a href="{{ site.baseurl }}" title="link to {{ site.title }} Home" class="Home-button" style="color:#6495ED;border-color:#6495ED">Home</a></li>
    </ul>
  </div>
  <p style="margin-top: 1.3em">
    I am Chu-Jen Shao &nbsp;(邵楚荏), a Computer Science student beginning at National Taiwan University (NTU). Recently researching on Information Retrieval (IR), Natural Language Processing (NLP) (with Prof. Pu-Jen Cheng).
  </p>  
  <p>
    <h3 id="selected_projects" style="color: #C51FF7; font-weight: bold; padding-bottom: 15px">
      Selected Projects
    </h3>
    <h4>
      <a href=http://913.org.tw/ class="projects">三峽清水祖師慈聖會</a>
    </h4>
      <p> A business website for “三峽清水祖師慈聖會”
      </p>
    <h4>
      <a href="https://github.com/nickshao/PlayerTracker" class="projects">NBA PlayerTracker</a>
    </h4>
    <p>
      Track the movements of NBA players and map them onto a tactic board.
    </p>

  </p>

</div>